{% extends "master.html" %}
{% block title %}
    {{ pd.product_name }}
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4">
                <h2>{{ pd.product_name }}</h2>
                <h5>ایجاد شده در: {{ pd.product_date }}</h5>
                <h5>توضیحات: </h5>
                <p>{{ pd.product_description }}</p>
                <h5>قیمت فعلی: </h5>
                <p>{{ pd.product_price|floatformat:"0g" }}ریال</p>
            </div>
            <div class="col-sm-4">
                <h2>تاریخ تغییرات</h2>
                {% for p in pdcs %}
                    <p>{{ p.product_date }}</p>
                {% endfor %}
            </div>
        <div class="col-sm-4">
                <h2>تغییرات قیمت</h2>
                {% for p in pdcs %}
                    <p>{{ p.product_price|floatformat:"0g" }}</p>
                {% endfor %}
            </div>
        </div>
    <div>
        <p><a href="/export_products/{{ pd.product_id }}">گرفتن خروجی اکسل</a></p>
    </div>
    </div>
{% endblock %}